body{
  background:#f1f1fa;;
  --shape-width: 60px;
  --shape-height: 60px;
  --shape-color: #a29bfe;
}

/* Main */
#app-container{

  max-width: 900px;
  width: 900px;
  height: 700px;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.toolbox{

  float: left;
  width: 18%;
  height: 300px;
  background-color: white;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#chart_window{

  float: right;
  background: white;
  width: 80%;
  height: 100%;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

#connector_canvas{
  position:relative;
  width:100%;
  height:100%;
  stroke: #6c5ce7;
  stroke-width:2;
  pointer-events:none;
  /* position: absolute; */
}

.line{
  stroke-width:2px;
  stroke:rgb(0,0,0);
}

/* Toolbox Shapes */

#toolbox_triangle {
	width: 0;
	height: 0;
  
  border-left: calc(var(--shape-height)/2) solid transparent;
	border-right: calc(var(--shape-height)/2) solid transparent;
  border-bottom: var(--shape-height) solid var(--shape-color);
  transition: transform .3s; 

  margin: 0 auto;
  position: relative;
  top:30px
}



#toolbox_square {
  height: var(--shape-height);
  width: var(--shape-height);
  background-color: var(--shape-color);
  transition: transform .3s; 
  margin: 0 auto;
  position: relative;
  top:60px
}

#toolbox_circle {
  height: var(--shape-height);
  width: var(--shape-height);
  background-color: var(--shape-color);

  transition: transform .3s; 

  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top:80px
}

#toolbox_circle:hover{
  transform: scale(1.1);
}

#toolbox_square:hover{
  transform: scale(1.1);
}

#toolbox_triangle:hover{
  transform: scale(1.1);
}

/* Canvas shape components */

.shape_triangle {
	width: 0;
	height: 0;
  
  border-left: calc(var(--shape-height)/2) solid transparent;
	border-right: calc(var(--shape-height)/2) solid transparent;
  border-bottom: var(--shape-height) solid #fd79a8;

  margin: 0 auto;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

.shape_circle {
  height: var(--shape-height);
  width: var(--shape-height);
  background-color: #fd79a8;
  border-radius: 50%;

  margin: 0 auto;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

.shape_square {
  height: var(--shape-height);
  width: var(--shape-height);
  background-color: #fd79a8;
  transition: transform .2s; 
  margin: 0 auto;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.shape_square:hover{
  transform: scale(1.1);
}

.shape_circle:hover{
  transform: scale(1.1);

}

.shape_triangle:hover{
  transform: scale(1.1);

}

.canvas_shape {
  height: var(--shape-height);
  width: var(--shape-height);
  background-color: transparent;
  transition: transform .2s; 
}

.canvas_shape:hover{
  transform: scale(1.1);

}

.svg_shapes{

  -webkit-filter: drop-shadow( 0px 0px 7px rgba(0, 0, 0, .3));
  filter: drop-shadow( 0px 0px 7px rgba(0, 0, 0, .3));

}


.con_anchor_top{
  position: absolute;
  left: 23px;
  top:50px;
  width: 15px;
  height: 15px;
  background-color: #a29bfe ;
  border-radius: 5px;
  z-index:5;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  transition: transform .2s; 

}

.con_anchor_top:hover{
  transform: scale(1.3);

}